body {
	font-family: Montserrat, sans-serif;
	font-size: 1.12em;
	text-align: center;
}

.logo {
	max-width: 100%;
	height: auto;
	margin: 3.5rem auto;
}

.navbar {
	color: #404040;
	border-bottom: solid 1px #ececec;
	padding: 0;
}

.nav-item {
	margin: .5rem 1.5rem 1.5rem;
}

.main-container {
	max-width: 95%;
	margin: auto;
}
