body {
	font-family: Montserrat, sans-serif;
	font-size: 1.12em;
	padding-top: 1.25rem;
}

.header-top {
	max-width: 97%;
	margin: auto;
}

.header-link {
	margin-top: 0.625rem;
}

.logo {
	max-width: 100%;
	height: auto;
	margin: 2.75rem auto;
}

.navbar {
	color: #404040;
	padding: 1.25rem;
	margin: auto;
}

hr {
	height: 1px;
	color: #ececec;
	max-width: 80%;
	margin: 0 auto 1.875rem;
}

.nav-item {
	margin: 0 1rem;
}

.main-container {
	max-width: 80%;
	margin: auto;
}

/*.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    color: #f78181;
}*/


.carousel-item {
	width: 701px;
	height: 439px;
}
