.card,
.slide,
.card-img,
.card-img-overlay,
.card-img-top {
	border-radius: 0;
	border: none;
}

.card-img-overlay {
	top: auto;
	bottom: 0;
}

.card-source-info {
	text-transform: uppercase;
	font-size: .75rem;
	text-align: left;
	color: #404040;
	padding-top: 1.5rem;
}

.card-text {
	font-family: OpenSans;
	font-size: .875rem;
	line-height: 1.43;
	text-align: left;
	color: #9a9a9a;
}

.card-title {
	font-family: Montserrat;
	color: #404040;
	font-size: 1.5rem;

	@include md {
		font-size: 1rem;
	}

	@include lg {
		font-size: 1.5rem;
	}
}
