.page-section {
	margin-bottom: 8.125rem;

	&__title {
		position: relative;
		top: -3.125rem;
		left: -1rem;
	}
}

.hr__pink {
	background-color: #f78181;
  width: 80px;
  height: 2px;
  text-align: left;
  position: relative;
  margin: 0;
  top: -2.975rem;
	left: -1rem;
}
