.carousel-item {
	max-width: 940px;
	height: auto;
}

.carousel-caption {
	top: auto;
	bottom: 10%;
	text-align: left;

	&__source-info {
		padding-top: 3.375rem;
		text-transform: uppercase;
	}

	&__link {
		font-size: 1.5rem;
		line-height: 1.15;

		@include lg {
			font-size: 2.25rem;
		}
	}
}

#aside {
	@include md {
		padding-left: 0;
	}
}

.aside {
	&__card {
		max-width: 410px;
		height: auto;

		&:first-child {
			padding-bottom: 0.625rem;
		}
	}

	&__link {
		font-size: 1.125rem;
		line-height: 1.15;

		@include md {
			font-size: .875rem;
		}

		@include lg {
			font-size: 1rem;
		}

		@include xl {
			font-size: 1.5rem;
		}
	}

	&__source-info {
		text-transform: uppercase;
		font-size: .875rem;
		padding-top: .875rem;
	}
}



// background gradient styling
.bg-gradient::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.3));
	z-index: 0;
}

.bg-gradient {
	position: relative;
}

.bg-gradient > * {
	z-index: 10;
}

.bg-gradient {
  max-width: 100%;
  margin: auto;
	position: relative;
}
