body {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 18px; }

.site-wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.my-container {
  height: 100%;
  margin: auto;
  padding: .5rem; }
