@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
body {
  background-color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 18px; }

img {
  max-width: 100%;
  height: auto; }

.site-wrapper {
  max-width: 1400px;
  padding: 0 1.5rem;
  margin: 0 auto; }

.container--top {
  margin: auto;
  padding: .5rem; }
  @media (min-width: 768px) {
    .container--top {
      padding: 1.875rem 1.875rem 0 1.875rem; } }
  @media (min-width: 992px) {
    .container--top {
      max-width: 1920px; } }

.nav-logo {
  width: 135px;
  vertical-align: baseline; }
  @media (min-width: 576px) {
    .nav-logo {
      width: 200px;
      vertical-align: middle; } }

.navbar {
  color: #404040;
  padding: 1.25rem 2.5rem;
  margin-top: -2.5rem; }

.navbar-toggler {
  margin-left: auto;
  margin-top: -2.375rem; }

.nav-link.main-nav:hover,
.nav-link.main-nav:active,
.social-icon:hover {
  color: #f78181 !important; }

.nav-link {
  text-align: right; }
  @media (min-width: 992px) {
    .nav-link {
      text-align: center; } }

.social-icon {
  color: #ececec; }

.hr__top {
  margin-bottom: 2.5rem;
  height: 1px;
  color: #ececec; }

.card,
.slide,
.card-img,
.card-img-overlay,
.card-img-top {
  border-radius: 0;
  border: none; }

.card-img-overlay {
  top: auto;
  bottom: 0; }

.card-source-info {
  text-transform: uppercase;
  font-size: .75rem;
  text-align: left;
  color: #404040;
  padding-top: 1.5rem; }

.card-text {
  font-family: OpenSans;
  font-size: .875rem;
  line-height: 1.43;
  text-align: left;
  color: #9a9a9a; }

.card-title {
  font-family: Montserrat;
  color: #404040;
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    .card-title {
      font-size: 1rem; } }
  @media (min-width: 992px) {
    .card-title {
      font-size: 1.5rem; } }

.page-section {
  margin-bottom: 8.125rem; }
  .page-section__title {
    position: relative;
    top: -3.125rem;
    left: -1rem; }

.hr__pink {
  background-color: #f78181;
  width: 80px;
  height: 2px;
  text-align: left;
  position: relative;
  margin: 0;
  top: -2.975rem;
  left: -1rem; }

.carousel-item {
  max-width: 940px;
  height: auto; }

.carousel-caption {
  top: auto;
  bottom: 10%;
  text-align: left; }
  .carousel-caption__source-info {
    padding-top: 3.375rem;
    text-transform: uppercase; }
  .carousel-caption__link {
    font-size: 1.5rem;
    line-height: 1.15; }
    @media (min-width: 992px) {
      .carousel-caption__link {
        font-size: 2.25rem; } }

@media (min-width: 768px) {
  #aside {
    padding-left: 0; } }

.aside__card {
  max-width: 450px;
  height: auto; }
  .aside__card:first-child {
    padding-bottom: 0.625rem; }

.aside__link {
  font-size: .875rem;
  line-height: 1.0; }
  @media (min-width: 992px) {
    .aside__link {
      font-size: 1rem;
      line-height: 1.15; } }
  @media (min-width: 1200px) {
    .aside__link {
      font-size: 1.5rem;
      line-height: 1.15; } }

.aside__source-info {
  text-transform: uppercase;
  font-size: .625rem;
  padding-top: .875rem; }
  @media (min-width: 992px) {
    .aside__source-info {
      font-size: .875rem; } }

.bg-gradient::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
  z-index: 0; }

.bg-gradient > * {
  z-index: 10; }

.bg-gradient {
  max-width: 100%;
  margin: auto;
  position: relative; }

.latest-stories {
  background-color: #f7f7f7;
  padding-bottom: 7rem; }
  .latest-stories__col {
    padding: 0; }
  .latest-stories__card-text {
    padding-bottom: 2rem; }
