body {
	background-color: $white;
	font-family: Montserrat, sans-serif;
	font-size: 18px;
}

img {
	max-width: 100%;
	height: auto;
}

.site-wrapper {
	max-width: 1400px;
	padding: 0 1.5rem;
	margin: 0 auto;
}

hr {
	margin-bottom: 2.5rem;
	height: 1px;
	color: $ltGrey;
}
