$screen-xs-min: 327px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1440px;

$ltGrey: #ececec;
$mdGrey: #404040;
$textGrey: #9a9a9a;
$bgGrey: #f7f7f7;
$pink: #f78181;
$white: #ffffff;
